#persiana {
    display: grid;
    background-color: rgb(160, 218, 220);
    outline-color: rgb(71, 55, 176);
}

#botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    margin-bottom: 1%;
}

#botonesform {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    margin-bottom: 1%;
}

#AireAcon {
    display: grid;
    background-color: #ff6961;
    outline-color: rgb(149, 35, 35);
}

#Temperatura {
    display: grid;
    background-color: #fdfd96;
    outline-color: rgb(200, 192, 48);
}

#Luminosidad {
    display: grid;
    background-color: #fdcae1;
    outline-color: rgb(176, 55, 142);
}

#formulariotemp {
    display: grid;
    background-color: #aefc9e;
    outline-color: rgb(36, 118, 25);
}

#formularioluz {
    display: grid;
    background-color: #aefc9e;
    outline-color: rgb(36, 118, 25);
}

.boton {
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    word-break: break-all;
    outline-width: 2px;
    outline: solid;
    border-radius: 5px;
}

.icono {
    width: 30%;
    margin: auto;
}

input {
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
}

button {
    width: 40%;
    margin: auto;
}

.alerta {
    color: red;
}

#titulo {
    background-color: #a1ebef;
    outline-color: rgb(39, 153, 165);
    margin-bottom: 1%;
}

#chat {
    background-color: #ffe46d;
    outline-color: #c66613;
    margin-bottom: 1%;
    padding-bottom: 2%;
}

.iconoeditar {
    width: 10%;
    margin: auto;
    margin-bottom: 1%;
}

.iconochat {
    width: 8%;
    margin: auto;
}

#historico {
    background-color: #e1bee7;
    outline-color: #983ba9;
    margin-bottom: 1%;
    padding-bottom: 2%;
}

#conexiones {
    background-color: #9db7f8;
    outline-color: #180891;
    margin-bottom: 1%;
    padding-bottom: 2%;
}

#calendario {
    background-color: #e598c2;
    outline-color: #910858;
    margin-bottom: 1%;
    padding-bottom: 2%;
}

#qr {
    background-color: #cacaca;
    outline-color: #515151;
    margin-bottom: 1%;
    padding-bottom: 2%;
}

.mensajes {
    height: 250px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    background-color: #f1f1f1;
    overflow: scroll;
}

#mensajesduo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
}

.historicopar {
    display: grid;
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    background-color: #f1f1f1;
    overflow: scroll;
}


#cajamensaje {
    height: 100px;
}

.textinput {
    height: 20px;
    width: 80%;
}

.enviar {
    width: 8%;
    height: 40px;
}

.imagenenviar {
    height: 20px;
}

.contador {
    width: 10%;
    margin-left: 6%;
}

#cajamensajes {
    display: none;
}

.flecha {
    width: 25%;
    margin: auto;
}

.botonslider {
    width: 15%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#fechamensaje {
    height: 40px;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    background-color: #acacac;
}

#qrmsg {
    height: 300px;
}